
html
  head
    title= title
  body
    h1= message

    form(action="/upload" method="post" enctype="multipart/form-data" id="uploadForm")
        input(type="file" name="myfile")
        input(type="text" name="names")
        input(type="submit" class="sended")

    span(id="status")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
    script(src="app.js")